.dialog {
  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    padding: 2rem;
    div {
      margin-bottom: 1rem;

      &.button-group {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.title {
  font-size: 2rem;
}

.table {
  &::ng-deep.p-datatable-header{
    background-color: #f8f9fa;
    margin-top: 2rem;
  }
  &-caption {
    display: flex;
    justify-content: right;
    align-items: center;
    &-utils {
      * {
        margin-left: 1rem;
      }
    }
  }
  &-header {
    &-cell {
      width: 20%;
      background-color: #f8f9fa;
    }
  }
}
