<div class="container">

  <img class="logo" src="assets/LILEE-logo-color-version.svg" alt="LILEF Systems" />

  <span class="title">Vehicle Management System</span>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="card">
      <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input type="text" pInputText formControlName="account" />
      </span>
      <span class="p-input-icon-left">
        <i class="pi pi-lock"></i>
        <input type="password" pInputText autocomplete="off" formControlName="password" />
      </span>
    </div>
    <p-button type="submit" [disabled]="!loginForm.valid" label="Submit"
      [style]="{'width':'30vw','margin-top': '5vh'}"></p-button>
  </form>

  <p-messages></p-messages>
</div>
